.container{
    position: fixed;
    top:135px;
    left:0;
    width:40px;
    height: 80px;
    background-color: skyblue;
    text-align: center;
    z-index: 500;
  transition: all 0.4s;

}

.chat{
    /* padding-right: 4px; */
    writing-mode: vertical-rl;
    padding-top: 20px;

}

.contentsContainer{
    position: relative;
    /* display: none; */
opacity: 0;
    right: 90vw;
    /* z-index: -1; */
}

.container.active{
transform: translateX(90vw)
}

.container.active .contentsContainer{
    animation: op 0.4s  linear forwards;
    }

    .container.deactive .contentsContainer{
        animation: unop 0.4s  linear;
        }

@keyframes op {
    0% {
        opacity: 0;

    }
    1%{
    opacity: 1;

    }

    100% {
    opacity: 1;

    }
}

@keyframes unop {
    0% {
        opacity: 1;

    }
90%{
    opacity: 0;

}

    100% {
    opacity: 0;

    }
}