.container{
    position: fixed;
    top:20px;
    left:0;
    width:40px;
    height: 80px;
    background-color: yellow;
    text-align: center;
    z-index: 1000;
  transition: all 0.4s;

}

.chat{
    padding-right: 7px;
    writing-mode: vertical-rl;

}

.contentsContainer{
    position: relative;
    /* display: none; */
opacity: 0;
    right: 350px;
}

.container.active{
transform: translateX(350px)
}

.container.active .contentsContainer{
    animation: op 0.4s  linear forwards;
    }

    .container.deactive .contentsContainer{
        animation: unop 0.4s  linear;
        }

@keyframes op {
    0% {
        opacity: 0;

    }
    1%{
    opacity: 1;

    }

    100% {
    opacity: 1;

    }
}

@keyframes unop {
    0% {
        opacity: 1;

    }
90%{
    opacity: 0;

}

    100% {
    opacity: 0;

    }
}